<div class="app-mensajes " id="app-mensajes">

    <!-- <div class=" alert alert-secondary text-right" *ngFor="let chat of _cs.chats">
        <span class="badge badge-primary">Enric</span>
        <p> {{ chat.mensaje }} </p>
    </div> -->

    <div *ngFor="let chat of _cs.chats" class="mt-2" [ngClass]="{ 'text-right': _cs.usuario.uid == chat.uid  }">


        <span class="badge" [ngClass]="{ 'badge-primary': _cs.usuario.uid == chat.uid,
                       'badge-success': _cs.usuario.uid != chat.uid }">
          {{ chat.nombre }}</span>
        <p class="border border-primary msg-window text-left">
            <!-- <span class="badge badge-secondary "> {{ chat.mensaje }} </span> -->
            <code class="text-light">{{ chat.mensaje }}</code>
        </p>
    </div>



</div>

<input type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control" (keyup.enter)="enviar_mensaje()" placeholder="Enviar mensaje">