<!-- https://codepen.io/davidelvar/pen/dYMgrR -->


<div class="main-container bg-dark text-secondary">
    <h1 class=" enric float-left ml-4">Firechat</h1>

    <div class="col-md-12 text-right pt-2" *ngIf="_cs.usuario.uid">
        <!-- <p>"_cs.usuario.uid" {{_cs.usuario.uid}} </p> -->
        <button type="button" class="btn  btn-primary" (click)="_cs.logout()">
        Tornar 
      </button>
    </div>

    <!-- {{!_cs.usuario.uid}} - {{_cs.usuario.uid}} -->
    <app-login *ngIf="!_cs.usuario.uid"></app-login>


    <div class="chat-window" *ngIf="_cs.usuario.uid">
        <app-chat></app-chat>
    </div>


</div>