/* You can add global styles to this file, and also import other style files */


/* Original del curs */

.enric {
    width: 40%;
}

.button-env {
    width: 10%;
    height: 2em;
}

.input-env {
    width: 85% !important;
}


/* */

.main-container {
    margin-top: 2px;
    margin-bottom: 2px;
}

.puntero {
    cursor: pointer;
}


/*---------------------------------- */

.msg-window {
    padding: 10px;
    /*centrar caja cuando width es % con margin: 0 auto*/
    width: 99%;
    margin: 0 auto;
    /* height: 30rem; */
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 20px;
}

.chat-window {
    padding-top: 0.2rem;
    padding-bottom: 2rem;
    /*centrar caja cuando width es % con margin: 0 auto*/
    width: 90%;
    margin: 0 auto;
    height: 30%;
    overflow: hidden;
    border: 1px solid #4080FF;
    border-radius: 20px;
}

.app-mensajes {
    overflow-y: scroll;
    height: 80vh;
    /*background:gray;*/
    padding: 5px;
}


/* Boostrap Buttons Styling */

.btn-default {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(108, 88, 179, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(108, 89, 179, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-default:hover {
    color: #FFF;
    background: rgba(108, 88, 179, 0.75);
    border: 2px solid rgba(108, 89, 179, 0.75);
}

.btn-primary {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(58, 133, 191, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(58, 133, 191, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    color: #FFF;
    background: rgba(58, 133, 191, 0.75);
    border: 2px solid rgba(58, 133, 191, 0.75);
}

.btn-success {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(103, 192, 103, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(103, 192, 103, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-success:hover {
    color: #FFF;
    background: rgb(103, 192, 103, 0.75);
    border: 2px solid rgb(103, 192, 103, 0.75);
}

.btn-info {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(91, 192, 222, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(91, 192, 222, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-info:hover {
    color: #FFF;
    background: rgba(91, 192, 222, 0.75);
    border: 2px solid rgba(91, 192, 222, 0.75);
}

.btn-warning {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(240, 173, 78, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(240, 173, 78, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-warning:hover {
    color: #FFF;
    background: rgb(240, 173, 78, 0.75);
    border: 2px solid rgba(240, 173, 78, 0.75);
}

.btn-danger {
    font-family: Raleway-SemiBold;
    font-size: 13px;
    color: rgba(217, 83, 78, 0.75);
    letter-spacing: 1px;
    line-height: 15px;
    border: 2px solid rgba(217, 83, 78, 0.75);
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}

.btn-danger:hover {
    color: #FFF;
    background: rgba(217, 83, 78, 0.75);
    border: 2px solid rgba(217, 83, 78, 0.75);
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}